{% extends "layout.twig" %}

{% block css %}
 <link rel="stylesheet" href="/osomf/www/css/search.css">
{% endblock %}

{% block content %}

{% include 'search/searchNav.twig' %}

    <div id="pageTitle">
        <h1>Incident Search</h1>
    </div>
     

{% endblock %}

{% block js %}
<script type="text/javascript" src="/osomf/www/js/search.js"></script>
{% endblock %}


