{% extends "layout.twig" %}

{% block css %}
 <link rel="stylesheet" href="/osomf/www/css/search.css">
{% endblock %}

{% block content %}

{% include 'search/searchNav.twig' %}

    <div id="pageTitle">
        <h1>Incident Search</h1>
    </div>

    <form action="" method="POST" name="frmIncidentSearch">

    <fieldset>
        <legend>incident search</legend>
        <dl>
            <dt><label>incident title</label></dt>
            <dd><input type="text" name="title"/></dd>
        </dl>

        <dl>
            <dt><input type="submit" class="btnSearch" name="btnSearch" value="Search"/></dt>
        </dl>
        
    </fieldset>
    </form>

    {% if results >= 0 %}
    <fieldset>
        <legend>Search Results</legend>
        {% if results == 0 %}
        No Results Found
        {% else %}
        <table class="baseTable">
        <tr>
            {% for col in cols %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for res in searchResults %}
            <tr>
                {% for colName, colVal in res %}
                {% if colName == 'incidentId' %}
                    <td><a href="/osomf/incident/view/{{ colVal }}">{{ colVal }}</a> </td>
                {% else %}
                    <td>{{ colVal }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    </fieldset>
    {% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="/osomf/www/js/search.js"></script>
{% endblock %}


