<!--
<input id="btnIncident" type="button" value="Incident Search"/>
<input id="btnAsset" type="button" value="Asset Search"/>
-->

<ul class="pills">
  <li id="incidentSearchPill"><a href="/osomf/search/incident">Incident</a></li>
  <li id="assetSearchPill"><a href="/osomf/search/asset">Asset</a></li>
</ul>