{% extends 'layout.twig' %}

{% block content %}
<div class="page-header">
       <h2>Current Listing of Known Assets</h2>
    <a class="editLink" href="/osomf/asset/edit">Add Asset</a>
</div>

    
    <table class="zebra-striped" id="assetHome">
        <tr><th>CI</th><th>ci name</th><th>Serial #</th></tr>
        {% for ciid, ci in assets %}
            <tr>
                <td><a href="/osomf/asset/view/{{ ciid }}">{{ ciid }}</a></td>
                <td>{{ ci.ciName }}</td>
                <td>{{ ci.ciSerialNum }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}