<ul class="pills">
    <li id="assetViewPill">
        <a href="/osomf/asset/view/{{ ciid }}">Asset View</a>
    </li>
    <li id="assetEditPill">
        <a href="/osomf/asset/edit/{{ ciid }}">Asset Edit</a>
    </li>
    <li id="assetErrorsPill">
        <a href="/osomf/asset/knownErros/{{ ciid }}">Asset known Errors</a>
    </li>
    <li id="assetHistPill">
        <a href="/osomf/asset/hist/{{ ciid }}">Asset History</a>
    </li>
</ul>