<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Brad Bonkoski">
    {# Default CSS to be loaded for all #}
    <link rel="stylesheet" href="/osomf/www/css/main.css" />
    {% block css %}
    {% endblock %}

    <title>OSOMF - {% block title %}Default Title{% endblock %}</title>
</head>
<body>
<div id="wrapper">
{% block pageHeading %}
    <div class="heading">
        <img class="appIcon" src="/osomf/www/img/outage-notification-name-tag.jpg"/>
        <h4 class="appHeading">[OS] Operations Management Framework</h4>

        <div class="userInfo">
            username: {{ loggedinUsername }}<br/>
            <a href="#">logout</a>
        </div>

{% endblock %}

    <div id="mainNav">
    {% include "navigation.twig" %}
    {% include "topSearch.twig" %}
        <div id="subnav">
    {% block subnav %}

    {% endblock %}
            </div>
    </div>
</div>

  <div id="content">{% block content %}Default Content{% endblock %}</div>
  <div id="footer">
    {% include "footer.twig" %}
  </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.cookies.2.2.0.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/storage.js"></script>

    {% block js %}
    {% endblock %}

    <script type="text/javascript">
    $(document).ready(function() {
        //alert("Date: "+new Date().getTime());
        checkForLogin();
    });
    </script>
</div>
</body>
</html>