<div id="AddAssetAttributes" class="modal">
    <h3>Add Attribute for Asset</h3>

    <dl>
        <dt><label>Attribute</label></dt>
        <dd>
            <input id="AssetAttribute" type="text"/></dd>
            <input type="hidden" name="attrId" id="attrId" value=""/>
            <div class="ui-widget" style="margin-top:2em; font-family:Arial"/>
    </dl>
    <dl>
        <dt><label>Value</label></dt>
        <dd>
            <input type="text" id="AssetAttrValue"/>
        </dd>
    </dl>
    <dl>
        <dt><input id="subAddAssetAttribute" type="button" value="Add"/></dt>
    </dl>
</div>