<div id="AddImpactModal" class="modal">
    <h3>Add Impact for Incident</h3>

    <dl>
        <dt><label>Impact Type</label></dt>
        <dd>
            <select name="newImpact" id="newImpact">
                <option value="asset">asset</option>
                <option value="project">project</option>
            </select>
        </dd>
    </dl>

    <dl>
        <dt><label>Impacted Entity</label></dt>
        <dd><input id="impactedEntity" type="text"/></dd>
        <input type="hidden" name="entityId" id="entityId" value=""/>
        <div class="ui-widget" style="margin-top:2em; font-family:Arial">
    </dl>

    <dl>
        <dt><label>Impact Description</label></dt>
        <dd><textarea id="impactDesc"></textarea></dd>
    </dl>

    <dl>
        <dt><label>Impact Severity</label></dt>
        <dd>
            <select id="impactSev">
                {% for id, val in sevValues %}
                <option value="{{ id }}">{{ val }}</option>
                {% endfor %}
            </select>
        </dd>
    </dl>

    <dl>
        <dt><input id="btnImpactAdd" type="button" value="Add"/></dt>
    </dl>
</div>