<div id="AddWorklogModal" class="modal">
    <h3>Add Worklog for Incident</h3>

    <dl>
        <dt><label>Worklog Entry</label></dt>
        <dd>
            <textarea id="AddWorkglogText"></textarea>
        </dd>
    </dl>
    <dl>
        <dt><input id="addWorklogButton" type="button" value="Add"/></dt>
    </dl>
</div>