<div id="StatusChangeModal" class="modal">
    <div class="modal-header">
        <h3>Change Status for Incident</h3>
        <a href="#" id="AddStatusModalClose" class="close">x</a>
    </div>

    <div class="modal-body">
        <div class="clearfix">
            <label>Existing Status</label>
            <div class="input">
                <span class="view-input">{{ status }}</span>
            </div>
        </div>

        <div class="clearfix">
            <label>Change Status To</label>
            <div class="input">
                <select class="medium" id="stausChangeVal">
                    {% for id, val in statusVals %}
                        {% if val != status %}
                            <option value="{{ id }}">{{ val }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="clearfix">
            <label>Reason</label>
            <div class="input">
                <textarea id="reason"></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#" id="btnChangeStatus" class="btn primary">update</a>
    </div>
</div>