<div id="AddWorklogModal" class="modal">
    <div class="modal-header">
    <h3>Add Worklog for Incident</h3>
    <a href="#" id="AddWorklogModalClose" class="close">x</a>
    </div>

    <div class="modal-body">
    <div class="clearfix">
        <label>Worklog Entry</label>
        <div class="input">
            <textarea id="AddWorkglogText"></textarea>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <a id="addWorklogButton" href="#" class="btn primary">Add</a>
    </div>
</div>
