html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 16px/1.4 "Helvetica Nueue",HelveticaNueue,Helvetica,Arial,sans-serif;
}

body a {
    text-decoration: none;
}

div#wrapper {
    display: -moz-box;
    display: -o-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    min-height: 100%;
    margin: 0 4%;
    width: 75%;
}

div#content {
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

hr.footer {
	margin-top: 2em;
}


p.footer {
	text-align:right;
	color:blue;
    font-size: 12px;
    font-weight: bold;
	font-family: Monospace;
}

div.heading {
    /*border: 10px solid purple;*/
    background:  none repeat scroll 0 0 #b0c4de;
    border-bottom:  8px double white;
}

img.appIcon {
    padding-left: 2em;
    padding-top: 5px;
    height: 80px;
    width: auto;
    vertical-align: middle;
}

h4.appHeading {
    display: inline;
    padding-left: 50px;
}

div.userInfo {
    display: inline;
    width: 240px;
    float: right;
    font-family: monospace;
    font-size: 12px;
}

span.error {
    background-color: #f08080;
    color: black;
    font-weight: bold;
}

fieldset {
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 1.5em;
    width: 96%;
    border:  1px solid #b0c4de;
    padding-bottom: 1em;
}

fieldset legend {
    color: #b0c4de;
    font-size: 10px;
    font-family: Monospace;
}

fieldset.container {
    border:0px;
    padding:0px;
    margin:0px;
    width: 100%;
}

h2.pageHeading {
    margin-top: 2em;
    margin-left: 2em;
}

dl dt, dl dd {
float: left;
margin: 0 .5em 0 .5em;
}
dl dt {clear: left; width: 10em;}

dt label {
    text-transform:lowercase;
    color: blue;
    font-weight: bold;
}

/* Base Nagivation Styles */
nav {
    float: left;
    padding-left: 20%;
    font-size: 1.125em;
    /*position: relative;*/
    left: 250px;
    line-height: 2.55;
    margin-top: 0.55em;
    width: 50%;
}
nav li {
    display: inline;
    text-transform: lowercase;
}

nav a {
    margin-right: 50px;
    color: gray;
}

nav a:hover {
    color: #f5f5f5;
}

div#subnav {
    clear: both;
    padding-left: 20%;
    font-size: 1em;
}

div#subnav li {
    display: inline;
    text-transform: lowercase;
}

div#subnav a {
    margin-right: 25px;
    font-weight: bold;
    color: gray;
}

div#subnav a:hover {
    color: #f5f5f5;
}

div#mainNav form#topSearch {
    padding-top: 20px;
    float: right;
    padding-bottom: 5px;
}

form#topSearch input[type='text'] {
    width: 8em;
    -moz-border-radius: 10px;
    -webkit-border-radis: 10px;
    border-radius: 10px;
    color: gray;
}

table.baseTable {
    width: 100%;
    border-collapse: collapse;
}


table.baseTable th {
    background-color: #b0c4de;
    padding:  0px;
    margin: 0px;
    text-transform:lowercase;
    /*text-align: center;*/
    text-align: left;
}

table.baseTable tr:nth-child(odd) {
    background-color: #d3d3d3;
}

table.baseTable td {
 /*   text-align: right; */
    padding-bottom: 2px;

}

table.embedded {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

table.embedded th {
    background-color: blue;
    color: white;
}

table.embedded td {
    text-align: left;
    font-size: 10px;
}

table.embedded tr:nth-child(odd) {
    background-color: #add8e6;
}

table.embedded tr:nth-child(even) {
    background-color: #ffffff;
}

div.colLeft {
    float: left;
    width: 52%;
}
div.colRight {
    float:left;
    width: 45.5%;
}

div#pageTitle h1,h2,h3,h4 {
    display: inline;
}
div#pageTitle a {
    float: right;
     text-transform:lowercase;
}

input.btnUpdate {
    background:url(../img/accept.png) no-repeat;
    padding-left: 1.15em;
}

input.btnRevert {
    background:url(../img/arrow_undo.png) no-repeat;
    padding-left: 1.15em;
}

input.btnAudit {
    background:url(../img/book.png) no-repeat;
    padding-left: 1.15em;
}

input.btnView {
    background:url(../img/magnifier.png) no-repeat;
    padding-left: 1.15em;
}

input.btnEdit {
    background:url(../img/application_edit.png) no-repeat;
    padding-left: 1.15em;
}

input.btnSearch {
    background:url(../img/magnifier.png) no-repeat;
    padding-left: 1.15em;
}

/* Modal Styles */
.modal {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {
    height:200px;
    width:460px;
    color:#bbb;
    background-color: #ffffff;
    border:4px solid #b0c4de;
    padding:12px;
}
#simplemodal-container .simplemodal-data {
    padding:8px;
}

#simplemodal-container a {
    color:#ddd;
}
#simplemodal-container a.modalCloseImg {
    background:url(../img/cancel.png) no-repeat;
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-16px;
    cursor:pointer;
}
#simplemodal-container h3 {
    color:#84b8d9;
    padding-bottom: 2em;
}

/** User Contact Card/Box Styles */
div.users {
    margin-top: 1em;
display: -moz-box;
display: -o-box;
display: -webkit-box;
display: box;
         -moz-box-orient: horizontal;
         -o-box-orient: horizontal;
         -webkit-box-orient: horizontal;
         box-orient: horizontal;
         -moz-box-lines: multiple;
         box-lines: multiple
}

ul.contact {
    width: 19em;
    height: 5.5em;
            margin-left: 1em;
    background-color: lightgray;
border: 1px solid gray;
    font-family: "Lucida Grande", Veranda, Helvetica, Arial, sans-serif;
    font-size: .85em;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 6px 5px 3px hsla(0,0%,0%,.2);
    -webkit-box-shadow: 6px 5px 3px hsla(0,0%,0%,.2);
    box-shadow: 6px 5px 3px hsla(0,0%,0%,.2);
}

ul.admin {
background-image: url('../img/user_red.png');
background-repeat: no-repeat;
background-position: 2% 2%;
}

ul.member {
        background-image: url('../img/user.png');
        background-repeat: no-repeat;
        background-position: 2% 2%;
}


ul.contact li {
        padding-top: 1px;
        list-style-type: none;
        padding-left: 2em;
}