
hr.footer {
	margin-top: 2em;
}


p.footer {
	text-align:right;
	color:blue;
	font-family: Monospace;
}

img.appIcon {
    height: 80px;
    width: auto;
    vertical-align: middle;
}

h4.appHeading {
    display: inline;
    padding-left: 50px;
}

div.userInfo {
    display: inline;
    width: 240px;
    float: right;
    font-family: monospace;
}
div.userInfo a {
    text-decoration: none;
}

span.error {
    background-color: #f08080;
    color: black;
    font-weight: bold;
}

fieldset {
    margin-right: 5em;
    margin-left: 2em;
    width: 85%;
}

fieldset legend {
    color: blue;
    font-size: 10px;
    font-family: Monospace;
}
h2.pageHeading {
    margin-left: 2em;
}

dl dt, dl dd {
float: left;
margin: 0 .5em 0 .5em;
}
dl dt {clear: left; width: 8em;}

dt label {
    text-transform:lowercase;
    color: blue;
    font-weight: bold;
}

/* Base Nagivation Styles */
ul.nav {
    margin-left: 2em;
    -moz-border-radius-topRight: 20px;
    -moz-border-radius-topLeft: 20px;
    -webkit-border-radis-top-right: 20px;
    -webkit-border-radis-top-left: 20px;
    border-radius-top-right: 20px;
    border-radius-top-left: 20px;
    background-color: #d3d3d3;
    width: 85%;
    padding:  8px;
}
ul.nav li {
    display: inline;
}

ul.nav li:hover {
    background-color: gray;
}

ul.nav a {
    padding:  5px, 15px, 5px, 15px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}