/** Bootstrap overrides */
.clearfix {
    margin-bottom: 10px;
}

.view-input {
    display: block;
    height: 18px;
    padding:  5px 0px 0px;
    width: 210px;
}

.link-input {
    display: block;
    height: 18px;
    padding:  3px;
    padding-top: 5px;
    width: 210px;
}

.modal {
   /* top: 1%;*/
}

/** Footer Styles **/
hr.footer {
	margin-top: 2em;
}


p.footer {
	text-align:right;
    font-size: 12px;
    font-weight: bold;
	font-family: Monospace;
}

