<ul class="pills">
    <li id="incidentViewPill">
        <a href="/osomf/incident/view/{{ incidentId }}">Incident View</a>
    </li>
    <li id="incidentEditPill">
        <a href="/osomf/incident/edit/{{ incidentId }}">Incident Edit</a>
    </li>
    <li id="incidentHistPill">
        <a href="/osomf/incident/hist/{{ incidentId }}">History</a>
    </li>
    <li id="incidentPMPill">
        <a href="">Post Mortem</a>
    </li>
</ul>