{% extends "layout.twig" %}

{% block content %}
<h1>I am in the Incident-->View Template</h1>


<?php echo $title; ?>


<?php foreach($testArray as $a) : ?>
<li><?php echo $a; ?></li>
<?php endforeach; ?>

{% endblock %}

